<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Summary</title>
</head>
<body>
    <h1>Transaction Summary</h1>
    <p>Transactions: {{ total_transaction_count }}</p>
    <p>Bought cars total: {{ total_bought_transaction_count }}</p>
    <p>Sold cars total: {{ total_sold_transaction_count }}</p>
    <p>Total amount from 'bought' transactions: ${{ total_bought_amount }}</p>
    <p>Total amount from 'sold' transactions: ${{ total_sold_amount }}</p>
</body>
</html>