<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Dealer</title>
</head>

<body>
{% include 'navbar.html' %}

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>

  <script>
    setTimeout(function() {
      var messages = document.getElementsByClassName('messages')[0];
      messages.style.opacity = 0;
      setTimeout(function() {
        messages.style.display = 'none';
      }, 500);
    }, 2000);
  </script>
{% endif %}

{% block content %}

{% endblock content %}

</body>
</html>